<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">



<welcome-file-list>
	<welcome-file>Login.html</welcome-file>
</welcome-file-list>


<servlet>
	 	<servlet-name>
			VerificarLogin
		</servlet-name>

		<servlet-class>
			LoginController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				VerificarLogin
		</servlet-name>

		<url-pattern>
			/VerificarLogin.do
		</url-pattern>

</servlet-mapping>




<servlet>
	 	<servlet-name>
			 RegistrarCliente
		</servlet-name>

		<servlet-class>
			RegistroClienteController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarCliente
		</servlet-name>

		<url-pattern>
			/RegistrarCliente.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			 RegistrarChofer
		</servlet-name>

		<servlet-class>
			RegistroChoferController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarChofer
		</servlet-name>

		<url-pattern>
			/RegistrarChofer.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			 RegistrarVehiculo
		</servlet-name>

		<servlet-class>
			RegistroVehiculoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarVehiculo
		</servlet-name>

		<url-pattern>
			/RegistrarVehiculo.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			 RegistrarCargamento
		</servlet-name>

		<servlet-class>
			RegistroCargamentoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarCargamento
		</servlet-name>

		<url-pattern>
			/RegistrarCargamento.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			PruebaServlet
		</servlet-name>

		<servlet-class>
			PruebaServlet
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				PruebaServlet
		</servlet-name>

		<url-pattern>
			/PruebaServlet.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			TraeClientesChoferes
		</servlet-name>

		<servlet-class>
			ClientesChoferesController			
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				TraeClientesChoferes
		</servlet-name>

		<url-pattern>
			/TraeClientesChoferes.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			RegistrarFlete
		</servlet-name>

		<servlet-class>
			RegistroFleteController			
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarFlete
		</servlet-name>

		<url-pattern>
			/RegistrarFlete.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			RedireccionarCargamento
		</servlet-name>

		<servlet-class>
			RedireccionCargamento	
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RedireccionarCargamento
		</servlet-name>

		<url-pattern>
			/RedireccionarCargamento.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			 EliminarCliente
		</servlet-name>

		<servlet-class>
			EliminarClienteController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				EliminarCliente
		</servlet-name>

		<url-pattern>
			/EliminarCliente.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			 ConfirmarRecoleccion
		</servlet-name>

		<servlet-class>
			ConfirmarRecoleccion
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ConfirmarRecoleccion
		</servlet-name>

		<url-pattern>
			/ConfirmarRecoleccion.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			 ConfirmarEntrega
		</servlet-name>

		<servlet-class>
			ConfirmarEntrega
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ConfirmarEntrega
		</servlet-name>

		<url-pattern>
			/ConfirmarEntrega.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			ObtenerCliente
		</servlet-name>

		<servlet-class>
			ObtenerClienteController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ObtenerCliente
		</servlet-name>

		<url-pattern>
			/ObtenerCliente.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			modificarCliente.do
		</servlet-name>

		<servlet-class>
			ModificarClienteController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				modificarCliente.do
		</servlet-name>

		<url-pattern>
			/modificarCliente.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			EliminarVehiculo
		</servlet-name>

		<servlet-class>
			EliminarVehiculoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				EliminarVehiculo
		</servlet-name>

		<url-pattern>
			/EliminarVehiculo.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			ObtenerVehiculo
		</servlet-name>

		<servlet-class>
			ObtenerVehiculoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ObtenerVehiculo
		</servlet-name>

		<url-pattern>
			/ObtenerVehiculo.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			ModificarVehiculo
		</servlet-name>

		<servlet-class>
			ModificarVehiculoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ModificarVehiculo
		</servlet-name>

		<url-pattern>
			/ModificarVehiculo.do
		</url-pattern>

</servlet-mapping>




<servlet>
	 	<servlet-name>
			ObtenerCargamentos
		</servlet-name>

		<servlet-class>
			ObtenerCargamentosController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ObtenerCargamentos
		</servlet-name>

		<url-pattern>
			/ObtenerCargamentos.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			EliminarC

		</servlet-name>

		<servlet-class>
			EliminarCargamento
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				EliminarC
		</servlet-name>

		<url-pattern>
			/EliminarC.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			RedireccionarCa

		</servlet-name>

		<servlet-class>
			RedireccionCargamento
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RedireccionarCa
		</servlet-name>

		<url-pattern>
			/RedireccionarCa.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			ModificarCargamento

		</servlet-name>

		<servlet-class>
			ModificarCargamentoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ModificarCargamento
		</servlet-name>

		<url-pattern>
			/ModificarCargamento.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			ActualizarCargamento

		</servlet-name>

		<servlet-class>
			ActualizarCargamentoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ActualizarCargamento
		</servlet-name>

		<url-pattern>
			/ActualizarCargamento.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			
			ObtenerFlete

		</servlet-name>

		<servlet-class>
			ObtenerFleteController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ObtenerFlete
		</servlet-name>

		<url-pattern>
			/ObtenerFlete.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			
			ModificarFlete

		</servlet-name>

		<servlet-class>
			ModificarFleteController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ModificarFlete
		</servlet-name>

		<url-pattern>
			/ModificarFlete.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			
			ObtenerRep

		</servlet-name>

		<servlet-class>
			ObtenerRepartos
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ObtenerRep
		</servlet-name>

		<url-pattern>
			/ObtenerRep.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			
			RedireccionRep

		</servlet-name>

		<servlet-class>
			RedireccionReparto
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RedireccionRep
		</servlet-name>

		<url-pattern>
			/RedireccionRep.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			
			RegistroReparto

		</servlet-name>

		<servlet-class>
			RegistroRepartoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistroReparto
		</servlet-name>

		<url-pattern>
			/RegistroReparto.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			
			ObtenerReparto

		</servlet-name>

		<servlet-class>
			ObtenerRepartoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ObtenerReparto
		</servlet-name>

		<url-pattern>
			/ObtenerReparto.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			
			ModificarReparto

		</servlet-name>

		<servlet-class>
			ModificarRepartoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ModificarReparto
		</servlet-name>

		<url-pattern>
			/ModificarReparto.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			
			EliminarReparto

		</servlet-name>

		<servlet-class>
			EliminarRepartoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				EliminarReparto
		</servlet-name>

		<url-pattern>
			/EliminarReparto.do
		</url-pattern>

</servlet-mapping>



<servlet>
	 	<servlet-name>
			
			ConfirmarRepart

		</servlet-name>

		<servlet-class>
			ConfirmarReparto
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				ConfirmarRepart
		</servlet-name>

		<url-pattern>
			/ConfirmarRepart.do
		</url-pattern>

</servlet-mapping>

</web-app>