<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">



<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>



<servlet>
	 	<servlet-name>
			 RegistrarCliente
		</servlet-name>

		<servlet-class>
			RegistroClienteController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarCliente
		</servlet-name>

		<url-pattern>
			/RegistrarCliente.do
		</url-pattern>

</servlet-mapping>


<servlet>
	 	<servlet-name>
			 RegistrarChofer
		</servlet-name>

		<servlet-class>
			RegistroChoferController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarChofer
		</servlet-name>

		<url-pattern>
			/RegistrarChofer.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			 RegistrarVehiculo
		</servlet-name>

		<servlet-class>
			RegistroVehiculoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarVehiculo
		</servlet-name>

		<url-pattern>
			/RegistrarVehiculo.do
		</url-pattern>

</servlet-mapping>

<servlet>
	 	<servlet-name>
			 RegistrarCargamento
		</servlet-name>

		<servlet-class>
			RegistroCargamentoController
		</servlet-class>

</servlet>

<servlet-mapping>

		<servlet-name>
				RegistrarCargamento
		</servlet-name>

		<url-pattern>
			/RegistrarCargamento.do
		</url-pattern>

</servlet-mapping>

</web-app>